$baseFontSize: 16px;
$baseLineHeight: 24px;

@import "compass";
@import "bootstrap";

.brand {
    @include replace-text-with-dimensions("twlyreader.png");

    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
        background-image: image-url("twlyreader@2x.png");
        background-size: 100% 100%;
    }
}

.log {
    .media {
        border-bottom: 1px solid #E8E8E8;
    }
    .well {
        margin-top: 20px;
    }
    .avatar {
        display: block;
        width: 54px;
        img {
            border: 1px solid #b9b9b9;
            padding: 1px;
            width: 50px;
            height: 50px;
        }
    }

    .fixed {
        .avatar {
            height: 1px;
            img {
                position: fixed;
                top: 10px;
                z-index: 2;
            }
        }
        .media-heading {
            position: fixed;
            top: 0px;
            width: 100%;
            padding: 10px 0 5px;
            background: rgba(255,255,255, 0.95);
            z-index: 1;
            @media (max-width: 480px) {
                padding-left: 64px;
            }
        }
        .media-body {
            padding-top: $baseLineHeight;
        }
    }
    .media-highlight {
        .media-heading {
            color: hsl(0,50,50);
        }
    }
    .text-highlight {
        color: hsl(0,50,50);
        text-decoration: underline;
    }
}

footer[role="contentinfo"] {
    margin-top: 20px;
    border-top: 1px solid #e8e8e8;
    padding-top: 20px;
    color: #999;
}

// Include responsive Bootstrap styles
@import "bootstrap-responsive";
