$baseFontSize: 16px;
$baseLineHeight: 24px;

@import "compass";
@import "bootstrap";

// override

.navbar-inner {
    @include border-radius(0);
    border-width: 0 0 1px;
}


.navbar .brand {
    @include replace-text-with-dimensions("twlyreader.png");
    width: 61px;
    height: 26px;
    background-size: 61px 26px;
}

.log {
    .avatar {
        display: block;
        width: 54px;
        img {
            border: 1px solid #b9b9b9;
            padding: 1px;
            width: 50px;
            height: 50px;
        }
    }

    .fixed {
        .avatar {
            height: 1px;
            img {
                position: fixed;
                top: 10px;
                z-index: 2;
            }
        }
        .media-heading {
            position: fixed;
            top: 0px;
            width: 100%;
            padding: 10px 0 5px;
            background: rgba(255,255,255, 0.95);
            z-index: 1;
            @media (max-width: 480px) {
                padding-left: 64px;
            }
        }
        .media-body {
            padding-top: $baseLineHeight;
        }
    }
    .media-highlight {
        .media-heading {
            color: hsl(0,50,50);
        }
    }
    .text-highlight {
        color: hsl(0,50,50);
        outline: 1px solid hsl(0,50,50);
    }
}


// Include responsive Bootstrap styles
@import "bootstrap-responsive";
