<div class="row">
    <div class="span2">
        <div id="sidebar" class="sidebar">
        </div>
    </div>
    <div class="span10">
        <h1>立法院第 .. 屆第 .. 會期 第 .. 次</h1>
        <div id="log" class="log"></div>
    </div>
</div>
<script>
var JSON_URL = "<%= params[:json_url] %>";
</script>
<script id="sidebar-template" type="text/x-handlebars-template">
    <ul class="nav nav-list">
        <li class="nav-header">快速標註</li>
        {{#each speakers}}
        <li><a href="#" class="filter" data-filter="{{this}}">{{this}}</a></li>
        {{/each}}
    </ul>
</script>
<script id="speech-template" type="text/x-handlebars-template">
    <div class="media">
        <a class="avatar pull-left" href="#">
            <img class="media-object" src="http://avatars.io/50a65bb26e293122b0000073/{{avatar}}?size=small">
        </a>
        <div class="media-body">
            <div class="pull-right">
                <a href="#{{speech_pos}}" class="btn btn-mini"><i class="icon-globe"></i> 連結</a>
                <a href="https://twitter.com/?status={{encoded_content}}%20{{url}}%20%23TWLYREADER" class="btn btn-mini" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            </div>
            <h4 class="media-heading">{{speaker}}</h4>
            <p id="{{speech_pos}}">{{content}}</p>
        </div>
    </div>
</script>

